body {
    background-image: url('https://images.twinkl.co.uk/tr/image/upload/illustation/Birthday-Cake-.png');
    font-family: 'Liberation Sans', Arial, sans-serif;
    line-height: 130%;
    color: #615041;
}

div {
    background-color: rgba(255, 255, 255, 0.9);
}

#capsalera {
    text-align: center;
}

h1, h2, h3 {
    letter-spacing: -0.05em;
    font-weight: normal;
    text-transform: uppercase;
    color: #FF8A46;
}

ul {
    list-style-type: square;
}

a {
    color: #635240;
    text-decoration: none;
}

h1.titol {
    font-size: 52px;
    line-height: 150%;
}

#macaroon {
    text-align: right;
}

#capsalera .subtitol {
    font-style: italic;
}

#index li:hover a {
    color: white;
    font-weight: bold;
    font-size: 150%;
    background-color: #A54440;
}

#index ul {
    list-style-image: url('boto_vermell.png');
}

#continguts p span {
    background-color: #EADAC3;
    font-weight: bold;
}

div span:hover {
    text-decoration: underline;
}
