body {
    background-image: url('https://images.twinkl.co.uk/tr/image/upload/illustation/Birthday-Cake-.png');
    font-family: 'Liberation Sans', Arial, sans-serif;
    line-height: 130%;
    color: #615041;
}

/* 2. Estilos para cualquier div de la página */
div {
    background-color: rgba(255, 255, 255, 0.9);
}

/* 3. Estilos para el div con ID "capsalera" */
#capsalera {
    text-align: center;
}

/* 4. Estilos para los encabezados de primer, segundo y tercer nivel */
h1, h2, h3 {
    letter-spacing: -0.05em;
    font-weight: normal;
    text-transform: uppercase;
    color: #FF8A46;
}

/* 5. Estilos para los elementos de lista no ordenada */
ul {
    list-style-type: square;
}

/* 6. Estilos para los enlaces */
a {
    color: #635240;
    text-decoration: none;
}

/* 7. Estilos para los encabezados de primer nivel con clase "titol" */
h1.titol {
    font-size: 52px;
    line-height: 150%;
}

/* 8. Estilos para el encabezado de tercer nivel con ID "macaroon" */
#macaroon {
    text-align: right;
}

/* 9. Estilos para los párrafos con clase "subtitol" dentro del div con ID "capsalera" */
#capsalera p.subtitol {
    font-style: italic;
}

/* 10. Estilos para los enlaces dentro de elementos de lista dentro del div con ID "index" */
#index li a:hover {
    color: white;
    font-weight: bold;
    font-size: 150%;
    background-color: #A54440;
}

/* 11. Estilos para los elementos de lista dentro del div con ID "index" */
#index li {
    list-style-image: url('boto_vermell.png');
}

/* 12. Estilos para los span dentro de párrafos dentro del div con ID "continguts" */
#continguts p span {
    background-color: #EADAC3;
    font-weight: bold;
}

/* 13. Estilos para subrayar spans dentro de divs */
div span:hover {
    text-decoration: underline;
}